body {
  background-color: #ffffff;
  margin: 0;
}

.navbar .logo{
  flex: 1;
}

.navbar .showlist{
    flex:2;
    display: flex;
}

.navbar .logo img {
  width: 500px;
  margin-top: 75px;
}
.navbar .pic img {
  width: 280px;
  margin-top: 50px;
  margin-left: 100px;
}
.navbar a{
  font-weight: bolder;
  font-style: oblique;
  font-size: 30px;
  color: white;
  text-decoration: none;
  flex:1;
  padding: 24px 15px;
}

.navbar a:visited{
  color: white;
  text-decoration: none;
  flex:1;
  padding: 24px 15px;
}


.navbar .word{
  margin-left: 300px;
  padding: 24px 15px;
}
.navbar .pp{
  margin-right: 300px;
  padding: 24px 15px;
}

.navbar {
    font-family: Helvetica;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 84px;
    background: #000000;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

}@media (max-width: 960px) {
  .navbar {
    padding: 0;
  }
}
